<h2>The list of students by house</h2>
<br>

<form>
<label for="house-selection">Select a house:</label>
<select name="house" id="house-selection">
  <% @houses.each do |house|%>
  <option value= <%= house.id %>><%=house.name%></option>
  <% end %>
</select>

<% @houses.each do |house| %>
<% @students.find_all {|student| student.house == house.id} %>
<%# Here I have to find a way to list all the students maybe a for loop  %>
<% end %>

</form>
