<h2>The list of students by house</h2>
<br>

<form>
<label for="house-selection">Select a house:</label>
<select name="house" id="house-selection">
  <% @houses.each do |house|%>
  <option value= <%= house.id %>><%=house.name%></option>
  <% end %>
</select>

<% @students.each do |student| %>
<%= student.name %>
<% end %>

</form>
